.App {
  text-align: center;
}

.Work {
  animation: Work infinite 1s linear;
  height: 40vmin;
  pointer-events: none;
}

.NoWork {
  animation: NoWork infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
}


.App-header {
  background-color: #f7b400;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes Work {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


@keyframes NoWork {
  from {
    transform: rotate(0deg);
    
  }
  to {
    transform: rotate(-360deg);
  }
}
